body {
 background-color: #57068c;
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 
h1 {
 color: white;
} 
h2 {
 color: white;
} 
h3 {
 color: white;
} 
p {
 color: white;
}